body{
    /* path from css folder up one level into images folder */
    background-image: url("../images/D1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    box-shadow: inset 0 0 10px plum;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
nav{
    background-color: lightgray;
    text-align: right;
    box-shadow: inset 0 0 10px grey;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
h1{
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
h2{
    color: rgb(252, 249, 252);
    font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
}
p{
    text-align: center;
    color: white;
    font-weight: 600;
}
footer{
    background-color: lightgrey;
    box-shadow: inset 0 0 10px grey;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
ul, li {
    list-style-type: none;
    color: whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 600;
}

